name: astrix_assist
description: "A new Flutter project."
publish_to: 'none'
version: 0.1.0

environment:
  sdk: ^3.10.4

dependencies:
  flutter:
    sdk: flutter
  dio: ^5.9.0
  bloc: ^9.1.0
  flutter_bloc: ^9.1.0
  go_router: ^17.0.1
  get_it: ^9.2.0
  equatable: ^2.0.7
  shared_preferences: ^2.2.2
  logger: ^2.4.0

dev_dependencies:
  flutter_test:
    sdk: flutter
  flutter_lints: ^6.0.0

flutter:
  uses-material-design: true
